
<div class="basket-tables" data-id="list-<%= basket_item.product.id %>">
  <p class="counter"><%= index + 1 %></p>
  <p class="item"><%= basket_item.product.name %></p>
  <p class="cost"><%= basket_item.product.cost %></p>
  <p class="number"><%= basket_item.quantity %></p>
</div>
