<div class="textcenter">
  <div>
    <div class="topheader">
      <%= image_tag "checked.png", width: "180" %>
    </div>
    <div class ="confirmationbar">
      <h1 style="">Your order is confirmed</h1>
    </div>
  </div>
</div>


<div class="container-confirmed">
  <div class="container">
    <div class="order-summary">
      <h2><strong>Confirmed Order:</strong></h2>
        <% @order.cart_items.each do |cart| %>
          <div class="cart-summary">
            <p><%= cart.product.name %></p>
            <p><%= cart.quantity %></p>
          </div>
        <% end %>
    </div>
  </div>

  <div class="container">
    <div class="user-summary">
      <div class="user-details">
        <h2><strong>Details:</strong></h2>
        <p>Name: <%= @user.name %></p>
        <p>Phone Number: <%= @user.handphone %></p>
        <p>Email Address: <%= @user.email_address %></p>
        <p>Address Delivered to: <%= @user.block %> <%= @user.street %> <%= @user.unit %> <%= @user.postal %> </p>
        <br><br>
      </div>

      <div class="note">
        <h2><strong>Note:</strong></h2>
          <ol>
            <li>Any unused remaining credits will be deleted and unclaimable.</li>
            <li>Items selected are subject to availability. Alternative items of similar value may be provided instead.</li>
            <li>Delivery date will be on DD MM YY (between 10am - 6pm). Unfortunately, no specific timing will be given.</li>
            <li>Please ensure that someone is home to receive the items</li>
          </ol><br>
      </div>

      <div class="footer textcenter">
        <p>Need Help?</p>
        <p>Contact via Whatsapp<br>
          ROW Admin 83003852</p>
      </div>
    </div>
  </div>


</div>
