<h1>Please confirm your details</h1>

<%= simple_form_for @user, url: update_path, method: :post do |f| %>
  <%= f.input :name, required: true %>
  <%= f.input :block, required: true %>
  <%= f.input :street, required: true %>
  <%= f.input :unit, required: true %>
  <%= f.input :postal, required: true %>
  <%= f.input :handphone, required: true %>
  <%= f.input :email_address, required: true %>
  <%= f.hidden_field :id, value: @user.id %>
  <%= f.button :submit %>
  <% end %>

<div class="footer">
  <p>Help?</p>
  <p>Contact Reza 8198 0581</p>
</div>
