<h1>Please confirm your details</h1>

<%= simple_form_for @user, url: update_path, method: :patch do |f| %>
  <%= f.input :name, required: true %>
  <%= f.input :block, required: true %>
  <%= f.input :street, required: true %>
  <%= f.input :unit, required: true %>
  <%= f.input :postal, required: true %>
  <%= f.input :handphone, required: true %>
  <%= f.input :email_address, required: true %>
  <%= f.button :submit %>
  <% end %>

<%= render "pages/footer" %>
