<body class="bg-red-100">
  <div class="container">
    <%= image_tag "https://res.cloudinary.com/debz4jozx/image/upload/v1674183698/Logo4_yjg6qe.png", class: "my-6 w-32" %>
    <%= image_tag "https://res.cloudinary.com/debz4jozx/image/upload/v1674184849/LogoROW_wcjdph.png", class: "my-6 w-34" %>
    <div class="space-y-4 mb-6">
      <h1 class="text-4xl fw-800" style="color: #112A46;">Your order has been submitted, <%= @user.name %></h1>
      <p>Items selected are subject to availability. Alternative items of similar value may be provided instead.</p>
      <p>Delivery date will be between <strong>3 April - 6 April</strong>, between 10am - 6pm (Confirmed date and timing will be informed closer to date via text). Unfortunately, no specific timing will be given and you will not be able to choose a timing. Please ensure that someone is home to receive the items.</p>
      <!--- <a class="btn btn-red-500 rounded-full px-6 w-full w-lg-48" href="https://app.bootstrapemail.com/templates">Track Your Order</a> -->
    </div>
    <div class="card rounded-3xl px-4 py-8 p-lg-10 mb-6">
      <h3 class="text-center mb-3">Receipt from <br> 4PM Ramadan On Wheels 2023</h3>
      <!--- <p class="text-center text-muted">Receipt #ABCD-EFGH</p> -->
      <table class="p-2 w-full">
        <tbody>
          <tr class="m-2">
            <th>Item</th>
            <th>Description</th>
            <th>Quantity</th>
          <% @order.cart_items.each do |cart| %>
            <tr>
              <td><%= cart.product.name %></td>
              <td><%= cart.product.description %></td>
              <td><%= cart.quantity %></td>
            </tr>
            <% end %>
        </tbody>
      </table>
      <hr class="my-6">
      <p>If you have any questions, contact us via Whatsapp at 83003852</a>.</p>
    </div>
  </div>
</body>
